body{
    background: #fbd279;
}
.container {
    text-align: center;
    /* align-items: center; */
}

h1 {
    color: red;
}

.burgers{
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

.form-group{
    /* margin-top: 50px; */
    width:400px;
    margin: 50px auto;
}

#newBurger{
    height: 70px;
    font-size: 40px;
}

#disabledBtn{
    width:250px;
    text-align: left;
    border-color: black;
}